[2017-09-19 18:43] tnyavdc opened #1 "Install breaks"
**Expo version**
20.0.0

**React Native version**
0.47.0

**Error output in packager**
`jest-haste-map: @providesModule naming collision:
  Duplicate module name: RCTEventEmitter
  Paths: /Users/DaCosta/Documents/patches/node_modules/expo-analytics/node_modules/react-native/Libraries/EventEmitter/RCTEventEmitter.js collides with /Users/DaCosta/Documents/patches/node_modules/react-native/Libraries/

[2017-09-21 16:31] ryanvanderpol commented on #1
Hi @tnyavdc.  Thanks for reporting this.  I could easily reproduce this problem on a brand new project.  I've just pushed an update (`v1.0.5`) that should fix this issue.  Please give it a try.  You may need to clear out your `node_modules` directory first (`rm -rf node_modules && npm install`) and possibly clear the React Native cache for your app (`exp start -c`)

[2017-09-21 16:31] #1 closed

[2017-09-21 19:07] tnyavdc opened #2 "Sending custom metrics and dimensions with custom event"
Would it be possible to extend `Event` to allow for passing `fieldsObject`, similarly to the GA action `ga('send', 'event', [eventCategory], [eventAction], [eventLabel], [eventValue], [fieldsObject]);` ?
This would enable sending custom dimensions and metrics along with an Event.

[2017-09-22 15:11] ryanvanderpol commented on #2
@tnyavdc I had already written most of the code to support custom dimensions so I just finished that up and exposed it in `v1.0.6` (see the readme for how to use it).  Custom metrics are still not supported, however.

[2018-01-22 09:15] mtnptrsn opened #4 "analytics.hit(new PageHit(screenName)) registers but cant see page name"
`analytics.hit(new PageHit(screenName))` registers new page view but the page name isn't set. This worked before. I can't say exactly when this stopped working, unfortunately. Did google change the Analytics Api?

Pic:
![screen shot 2018-01-22 at 10 13 27](https://user-images.githubusercontent.com/684179/35213168-fc8eedb4-ff5c-11e7-85a1-7713bb4ebe84.png)

[2018-01-22 17:08] ryanvanderpol commented on #4
Hey @mtnptrsn, thanks for reporting this.  I have a couple apps out that are using this library and I'm not seeing this behavior.  Can you confirm that you are using version `1.0.6` of this package?

Can you also confirm how you are passing in `screenName`?  Is it a hardcoded string or is it coming from somewhere else?  At one point I was doing something like `new PageHit(this.constructuro.toStrin

[2018-01-23 09:03] mtnptrsn commented on #4
Hi, @ryanvanderpol

Yes, I am using expo-analytics ^1.0.6.
No it's not hardcoded, my method looks like this

[code]
I debugged this and I am sure a screen name gets passed in. This is done automatically with react-navigation. (`onNavigationStateChange={ GoogleAnalytics.onNavigationStateChange }`on my RootNavigator)

onNavigationStageChange looks like this:
[code]

[2018-01-23 14:52] ryanvanderpol commented on #4
@mtnptrsn thanks for this info.  it all looks like it should be fine. for example, here is what one of my apps is showing

[code]

Looks pretty close to yours, but I would say there are a couple things I would investigate.  First of all, the app version number.  looks like yours is `0.0.2`.  I kind of remember GA wanting that in a very specific format (like maybe not liking things below 1.0.0?) .

[2018-01-24 15:17] mtnptrsn commented on #4
Found the issue! I was supposed to use ScreenHit instead of PageHit. I was using an app view and couldnt see the screen becuase of that. Thanks for your help 😄

[2018-01-24 15:17] #4 closed

[2018-02-02 10:34] dylancompanjen opened #5 "TypeError: Network request failed"
My app is crashing when the Google Analytics fetch is failing.
Should .hit return a Promise so I can catch errors after sending a hit?

"TypeError: Network request failed"

[2018-02-03 00:36] sr3d opened #6 "Update Readme on How to Setup the GA Account"
Since I'm using Expo for my app, expo-analytics seems to be the best candidate without having to eject and link.  However, it's not clear on how to setup the GA property.  The readme should be a bit more detailed on how to create the GA account (website, or mobile app, etc.).

[2018-02-05 16:18] ryanvanderpol commented on #5
@dylancompanjen good idea.  I'm happy to accept a PR if you have some time to make that change.

[2018-02-05 16:20] ryanvanderpol commented on #6
@sr3d yup, this is a good point.  If you haven't figured it out yet, you just need to set it up as a website.  Google Analytics now makes all "mobile app" properties go through Firebase.

[2018-02-18 19:52] dylancompanjen commented on #5
@ryanvanderpol Sure, I finally had some time :).

[2018-02-19 04:03] lkelly-dev opened #9 "Support Demographics and Interest Reports"
Would it be possible to add support for demographics and interest reports? If I try to use them in the control panel I'm told

If there's a way to do this already, any help would be greatly appreciated.

Thanks!

[2018-02-20 16:37] #6 closed

[2018-02-20 16:45] ryanvanderpol commented on #5
@dylancompanjen thanks for the PRs.  I've merged them in and released 1.0.7 to npm.

[2018-02-20 16:45] #5 closed

[2018-03-01 15:25] Laurensdc opened #10 "Unclear how to set up Events"
Can't seem to set up custom Events with this.
Do I need to link Firebase (doesn't seem to support React Native)?

[2018-03-01 15:27] ryanvanderpol commented on #10
@Laurensdc check out the README here for instructions how to use custom events: https://github.com/ryanvanderpol/expo-analytics#events

No, you don't need to use Firebase.  Just use a regular Google Analytics account.

[2018-03-01 16:07] Laurensdc commented on #10
@ryanvanderpol Doesn't seem to work for me, maybe the events don't show up immediately?

[2018-03-01 16:10] ryanvanderpol commented on #10
you can try looking under "Realtime" (can't remember off the top of my heas if events show up there). The regular event reporting can take many hours to show up, in my experience.

[2018-03-01 16:13] Laurensdc commented on #10
Thanks I'll give it a go and close this issue. Cheers!

[2018-03-01 16:13] #10 closed

[2018-03-06 12:33] Laurensdc commented on #10
It took almost 48 hours for my Events to show up, but they did just work!

[2018-03-29 11:06] mfru opened #11 "When setting uid, uid is not contained in Analytics object"
I'm trying to send the uids of my users but having trouble with it.

Right now my code for initialising an Analytics object is this:

[code]

I first thought that it is me, but when I test a fresh object like this:

[code]

the result is:
[code]

I looked through the expo-analytics source code, but did not find an error yet, so I'm wondering where the uid is getting lost.

It would be great if som

[2018-04-12 15:52] rosendanew opened #12 "Load time?"
I can't see any data passed regarding the performance of the app e.g behaviour -> site speed? average load time? and etc.

Is it possible?

[2018-04-12 16:31] ryanvanderpol commented on #12
@rosendanew What exactly are you hoping to measure with this?  Most react native app screens should "load" instantaneously, unless you are making calls to an external API to load data.  In those cases, you could pretty easily create "events" using this library to track how long each API call takes.

[2018-04-12 16:34] #12 closed

[2018-04-12 16:34] ryanvanderpol commented on #11
@mfru good question.  at first glance, this seems like it should work as you expect.  Can you try [turning on debugging](https://github.com/ryanvanderpol/expo-analytics#debugging) and see what the URL that gets constructed looks like?

[2018-05-09 06:24] feliperaul opened #13 "How to set up google analytics?"
Based on #6 , it was suggested to set up GA as a Website.

If that's really the only option, where can I see the screen tracking report? And app version? I can only access these reports if I create a Mobile App View within my Property.

[2018-05-22 15:02] Kameshwaran opened #14 "Real time hits in GA"
When I create page hit, it makes HTTP call properly and it returns with 200 status.
But I dont see any real time hits on Analytics console. What could be an issue?

[2018-05-22 16:19] ryanvanderpol commented on #14
@Kameshwaran I'm gonna need a little more info.  Are you confident the property ID is correct?  Have you turned on debugging?  If so, what does the URL request look like?  Is your Google Analytics property set up as a web page (not an app)?

[2018-05-22 16:22] Kameshwaran commented on #14
Debugging is enabled? GA tracking ID is correct.
20:28:05 [exp] [expo-analytics] UserAgent=Mozilla/5.0 (iPhone; CPU iPhone OS 11_2 like Mac OS X) AppleWebKit/604.4.7 (KHTML, like Gecko) Mobile/15C107
20:28:05 [exp] [expo-analytics] Additional parameters= Object {
20:28:05 [exp]   "aid": "neighbourly",
20:28:05 [exp]   "an": "Market",
20:28:05 [exp]   "av": "1.0",
20:28:05 [exp]   "sr": "320x568",

[2018-05-24 15:20] ryanvanderpol commented on #13
@feliperaul you'll need to create a custom report in Google Analytics (or find an existing one online) to access the app version and screenview data.

[2018-06-06 21:38] strangeways commented on #11
@mfru @ryanvanderpol The parameters don't get added to the object until `Constants.getWebViewUserAgentAsync()` resolves. Try:

[code]

[2018-06-07 16:34] mfru commented on #11
Sorry for not answering, I am not involved in the project anymore, so I can't say if it resolves the issue.

Should I close it?

[2018-06-12 08:20] davidyaha opened #16 "Any idea how to separate environments with this package?"
Hey,

Thanks for this package!
I've been looking into [tag manager for tagging events with environment tags](https://support.google.com/tagmanager/answer/6311518?hl=en), but it seems that all info out there is targeting the native GA SDKs..
How do you separate environments?

Ideally I would like this to be defined on the Analytics constructor, same as the custom parameters.

Maybe use dimensions o

[2018-06-14 15:32] ryanvanderpol commented on #16
@davidyaha unfortunately I don't really know enough about Tag Manager to understand exactly what this does.  FWIW, I just use different GA properties for my dev/test/prod environments and initialize the Analytics constructor with the property ID for whatever environment I'm running in.

If you have a suggestion for making this better I'm happy to discuss or review a PR!

[2018-06-14 15:33] ryanvanderpol commented on #14
@Kameshwaran did you ever figure this out?  I don't see anything in your code that looks incorrect...

[2018-06-14 15:34] #13 closed

[2018-06-14 15:34] #11 closed

[2018-06-15 09:51] Kameshwaran commented on #14
@ryanvanderpol Though the tracking id is right, it was not working. I didn't figure that out. I wrote the logic myself. since it was simply executing API call.
Here is the part of the code which worked fine.

[code]

[2018-07-14 07:10] BrianH2 opened #17 "Documentation: undefined records in customDimensions"
Thanks for this @ryanvanderpol, it's been super helpful!

Small one, but it threw me off when I saw `undefined` within the `customDimensions` key after logging the `analytics` object:

[code]

Turns out `undefined` dimensions don't get sent to analytics (https://github.com/ryanvanderpol/expo-analytics/blob/master/analytics.js#L75) but it might be worth noting that in the readme, e.g:

[2018-07-18 20:05] masiamj commented on #14
I'm actually having the same issue- has there been any updates or resolutions here?

[2018-07-26 02:31] Huddie commented on #14
+1

[2018-08-14 21:34] lichenglu commented on #14
GA has a good source to validate your parameters:
https://ga-dev-tools.appspot.com/hit-builder/

According to the validator, @Kameshwaran 's request is missing a required param `dp`

[2018-08-23 04:31] trev91 commented on #9
Any update on this? Would love to know if there's a way to accomplish this, or if that's not possible. @lkelly-dev What have you found?

[2018-08-23 07:02] oninross opened #20 "Analytics work during development, not in Expo servers"
I have implemented the codes as per documentation.  It works like a charm during production in my machine.  I can track the page hits and see it real time.  However, when I publish it to the Expo servers, tracking is not detected.  I dont even see it in real time

[2018-08-23 11:41] SKempin commented on #20
@oninross If you are using React Navigation this may be of assistance.

https://reactnavigation.org/docs/en/screen-tracking.html

[2018-08-23 12:04] SKempin opened #21 "Disable reporting in dev mode?"
Is there a method to disable reporting in development mode? I've looked into Expo dev mode and wondered if there was a way this could be utilised?

[2018-08-23 16:32] ryanvanderpol commented on #9
I have not had a chance to dig into this.  I would love to review and merge a PR if someone is able to add this functionality!

[2018-08-23 23:18] oninross commented on #20
I tried that, and received a "Native module cannot be null"

Cheers,
Nino

--------
Nino Ross Rodriguez
*Senior UX Developer *
*+61 484 191 227 *

* <http://www.infiniteimaginations.co>*

On Thu, Aug 23, 2018 at 9:41 PM Stephen Kempin <notifications@github.com>
wrote:

[2018-08-24 14:54] SoPlayNice opened #22 "Works when testing, but not when published"
Hi, wondering if you could give a bit of insight.

I've added the module (which seems great btw, and very simple to add) to two apps. When testing on my local simulator and then through the QR code on a phone through Expo, the live data was showing when in Analytics. Because of this I published. However, now when trying on my phone with the live version, I don't seem to bet getting any data into A

[2018-08-29 08:03] elliotstokes commented on #22
Did you find a solution to this. I'm hitting a similar issue where I can see the requests in development but on a published build the requests are not made. Appears to be iOS only though.

[2018-08-29 08:04] elliotstokes commented on #20
Is this the same issue as #22? I'm having a similar issue. Did you find a workaround at all?

[2018-09-03 05:46] oninross commented on #20
@elliotstokes somewhat similar.  I left it for a few hours and checked it again after a day.  Everything seems to be working fine now.   But its still an issue.

[2018-09-03 09:00] SoPlayNice commented on #22
Ok thanks, I will give that a go too.

[2018-09-05 15:06] SoPlayNice commented on #22
Turns out as I had updated the SDK version for Expo, but not submitted it to the app stores again, it wasn't actually sending my update to the stores. Missed that I needed to do that. Analytics is working perfectly now.

Thanks

[2018-09-05 15:06] #22 closed

[2018-09-28 15:48] cdanwards opened #23 "Dynamic update of Additional Parameters"
Thanks for this useful product! Currently I've been able to log `userId` info when it's statically set in the initialization of a new `Analytics` constructor, but is there a way to set that `userId` from data received after the initialization?

[2018-09-28 19:00] Shaita-KrZ opened #24 "Enhanced Ecommerce plugin for expo analytics?"
Hi there,

I am curious to know if Enhanced Ecommerce plugin can be supported by expo analytics?

If not, Is there another way to add a revenue to an event?

I tried to put a tr (transaction revenue) as a parameter to GA but does not look to work.
`new Analytics('UA-111856923-1', { uid: '123', tr: 20 })`

Best.

[2018-10-09 20:59] ericjames opened #25 "Batching requests"
Is there a way to batch requests together so I don't overwhelm the user's phone with GA reporting?

The batch pattern for `fetch` is not compatible with the current package's methods, since the methods are standalone fetches. ie: https://stackoverflow.com/questions/43195951/js-fetching-batch-data-with-http

[2018-11-05 06:34] richa-sharma937 opened #26 "App crash analysis"
Hi,
Is it possible to track app crashes over google analytics with this library. Please update over this.

Thanks

[2018-11-09 17:42] danikane commented on #21
Very easy.
Wrap analytics like this:
[code]
Basically I give you two options:
1. Use different tracking ID for DEV and PROD
2. Don't send the hit/event but log it instead.

Feel free to modify it as you like.

[2018-11-15 07:13] renishdeveloper opened #27 "How to track the application in the console, where have to create the Google analytic account so see track the application."
**I write the below code to track the application** is this much is enough to track the application. And please guide for where to track the application.
import React, { Component, Platform } from 'react';
import { Text, View, StyleSheet } from 'react-native';

import { GoogleAnalyticsTracker } from 'react-native-google-analytics-bridge';
import GoogleAnalytics from '@redux-beacon/react-native-goo

[2018-12-04 05:47] indie-rok commented on #26
It is not. You should use Sentry from expo

[2018-12-05 02:03] pckz commented on #14
any update of this? debug mode says is all ok, and the query was validated with hitbuilder tool. Also, the param version is correctly received by real time console, but the pageview name/title is not being shown

[2018-12-06 16:22] alexpopa-work commented on #14
Having the same problem. The events are tracked, but the pageHits are completely ignored, even though the calls are made correctly...

[2018-12-06 17:52] pckz commented on #14
@alexpopa-work I solved the issue using `ScreenHit` instead of `PageHit`
[code]

that way it worked in real time for me :)

[2018-12-14 21:04] degamer106 opened #28 "Screen Resolution not being calculated correctly"
Hi,

I noted when looking in the GA Web portal that the logical resolution instead of the physical resolution was being reported for all mobile devices.  Can this be fixed by including the Expo.PixelRatio in the calculation?

Thanks!

[2019-01-12 17:50] arrygoo opened #29 "Sedning additional information with Hit"
Is it possible to send additional parameters with hit such as timeSpentOnPage? Or does hit only accept a string, and for additional metrics I'd have to use events?

[2019-01-22 17:26] MUllman opened #30 "Tracking blocker crashing the app"
Tracking is working perfectly except when someone has a tracking blocker installed, then the entire app crashes. Not sure why because it seems as if I should be catching any errors

[code]

The app thats crashing my app is called disconnect Pro

[2019-03-05 08:23] SantiMA10 opened #32 "Types missing when installing with yarn"
Maybe I'm doing something wrong but if I install the package with `yarn add expo-analytics` I don't get the TypeScript types, but if I installed it from the GitHub repo, `yarn add ryanvanderpol/expo-analytics`, everything works great.

Any idea why this is happening?

P.S. Awesome work with the package!

[2019-03-14 11:12] romain-faust commented on #32
This is due to the fact that the NPM version has not been updated for 1 year.
@ryanvanderpol can you publish the latest changes to NPM please ?

Thank you by advance

[2019-03-14 21:29] SantiMA10 commented on #32
Let me know when this new release happed to update our dependency 😊

[2019-03-16 04:40] ryanvanderpol commented on #32
@SantiMA10 @romain-faust latest NPM version (1.0.8) is now published.  Thanks for your patience!

[2019-03-16 04:40] #32 closed

[2019-04-01 16:51] harshmaur commented on #6
@ryanvanderpol I think google does not allow requests from any website url other than the one specified in the settings.

If I have an app, what should be my website url?

[2019-05-16 14:06] jaulz opened #33 "Offline support"
Great library - thanks for that! Though, I wonder if you thought about offline support? Maybe we can check the network connection and send a batch of requests if the user is online again? What do you think?

[2019-06-14 16:12] seanfmcd opened #35 "Expo SDK 33 import warnings"
From the Expo SDK 33 release blog:

The line below in `analytics.js` is now printing out deprecation warnings which would be great to get rid of.
`import { Constants } from 'expo';`

The import will need to change to
`import * as Constants from 'expo-constants';`
but I'm not sure what else is involved.

[2019-06-14 16:14] ryanvanderpol commented on #35
thanks for the report! Working through this now -- see PR #34

[2019-06-14 16:14] #35 closed

[2019-06-15 15:34] davidmanson opened #36 "Change expo to expo-constants"
Hello and thank you for this library,

I'm updating my application to Expo SDK 33 and I got a message about the separate packages for Constants.

I would be very thankful if you can make a quick update changing this line :
`import { Constants } from 'expo'`

by this :
`import Constants from 'expo-constants'`

Thank you very much

[2019-06-15 16:53] ryanvanderpol commented on #36
Hey, thanks for reporting this! We've already got a PR for this (#34). It needs one more tweak before I release it so stay tuned!

[2019-06-16 04:26] davidmanson commented on #36
Thank you for this quick answer ! I'm glad the fix is on the way :)

[2019-06-16 04:28] #36 closed

[2019-06-18 20:35] ryanvanderpol commented on #36
@davidmanson FYI this has been published to NPM as 1.0.9.  Please let me know if you have any further problems!

[2019-06-18 20:35] ryanvanderpol commented on #35
@seanfmcd FYI this has been published to NPM as 1.0.9. Please let me know if you have any further problems!

[2019-06-19 15:55] davidmanson commented on #36
Thank you very much ! No more warning about expo-constants, great :)

[2019-06-21 04:08] kluz9 opened #37 "`@unimodules/core` does not exist in the Haste module"
Hello,
I recently installed expo-analytics and expo-constants.
I am using expo v 31.0.0
My package.json looks like this:
"dependencies": {
    "expo": "^31.0.0",
    "expo-analytics": "^1.0.9",
    "expo-constants": "^5.0.1",
    "react-native": "https://github.com/expo/react-native/archive/sdk-31.0.0.tar.gz",
....
}

But when I open my app, I get following unimodule error:

Unable to resolve modu

[2019-06-21 08:54] dawidczech355a commented on #37
I had similar problem, it helped for me (i use expo v32):
- downgrade expo-analytics to v1.0.8
- uninstall expo-constants
- delete node_modules folder
- run 'npm install'
- 'yarn add @unimodules/core'
- 'yarn add @unimodules/react-native-adapter'

maybe it's not the best practice, but i had to upgrade app version, so if you have similar situation try my solution

[2019-06-21 11:42] ryanvanderpol commented on #37
Thanks for reporting this. Right off the bat I'd say it's related to the change that was made in v1.0.9 to support Expo SDK33 (see PR #34). Sounds like that change is not compatible with previous versions of Expo.

[2019-06-25 22:36] lucianfialhobp opened #38 "Ecommerce tracking support"
Add e-commerce tracking support

[2019-06-26 10:49] beaurushton opened #40 "Package not working for bare workflow apps"
It seems this library uses the expo-constants package and reads values from the Constants.manifest object. Constants.manifest is null on bare apps so the package throws errors.  Not sure if this should be addressed here or in the expo-constants library.

[2019-06-28 20:40] pckz opened #41 "Unable to resolve "@unimodules/core" from "node_modules/expo-analytics/node_modules/expo-constants/build/ExponentConstants.js""
I have an App detached and I can't do `expo start -c` because I get the following error:

Thanks

[2019-06-28 20:54] ryanvanderpol commented on #41
@pckz what version of the Expo SDK are you using?  If you're using < 33 then you should use v1.0.8 of this package. I believe the changes made in #35 are not backwards compatible with previous SDK versions.

If you're using SDK 33+ then this might be a different problem.

[2019-06-28 20:56] ryanvanderpol commented on #40
@beaurushton if you're using a version of the Expo SDK that is 32 or lower, try pinning your `package.json` to import v1.0.8 of this package. It seems likely that the problem you're reporting is due to changes in #35 to support SDK33+

[2019-06-28 21:00] ryanvanderpol commented on #38
FYI This is addressed in PR #39 which is currently waiting for review.

[2019-06-28 21:03] pckz commented on #41
I solved that doing
`yarn add @unimodules/core` and
` yarn add @unimodules/react-native-adapter`

thanks!

[2019-06-28 21:03] #41 closed

[2019-07-09 15:25] pckz opened #43 "SDK 31 getWebviewUserAgentAsync is not a function"
Hello
I'm using Expo SDK 31 with this lib, and my app works well until if I use this lib with the basic code:

If I comment that lines the app works well.

What can I do to solve this? Thanks

![Simulator Screen Shot - iPhone 7 - 2019-07-09 at 11 20 33](https://user-images.githubusercontent.com/1050628/60901566-31473b00-a23c-11e9-8434-4d8a04b35433.png)

[2019-07-09 23:53] robertcreaner opened #44 "Error: The WKWebView was invalidated"
Getting the following error any time I create an event: Error: The WKWebView was invalidated

Env:
"dependencies": {
        "expo": "^33.0.0",
        "expo-web-browser": "^5.0.3",
        "react": "16.8.3",
        "react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz",
    },

[2019-07-15 12:43] erm1lov commented on #43
+ also stuck on this

[2019-07-15 15:20] ryanvanderpol commented on #43
@pckz as @erm1lov suggested, try pinning your version of this package to 1.0.8.  Seems that Expo SDK 33 introduced some non-backwards compatible changes.

[2019-07-15 16:12] pckz commented on #43
It worked with
`    "expo-analytics": "^1.0.8",`
Thanks @erm1lov && @ryanvanderpol !

[2019-07-15 16:12] #43 closed

[2019-07-15 22:50] robertcreaner commented on #44
For anyone else who might be experiencing this, I fixed it by creating only 1 Analytics instance and passing it to the rest of my components using Context:

const RootContainerWithSocket = props => (
    <SocketContext.Consumer>
        {context => (
            <ConnectedRootContainer {...props} analytics={context.analytics} />
        )}
    </SocketContext.Consumer>
);

[2019-08-28 14:54] peterkuiper commented on #37
I am having the same problem. This should have been a major release, but it is easy to miss with all these Expo SDK changes lately. Maybe you can still do a major release and deprecate the 1.0.9 release. Either way, thanks for your work on this module!

[2019-08-29 15:42] teckel12 opened #47 "Sunsetting the Google Analytics Services SDKs"
Google is deprecating analytics for mobile apps:

https://support.google.com/firebase/answer/9167112?hl=en

I'm currently using expo-analytics in an iOS and Android application so I'm a bit confused as to why people are still using expo-analytics when it appears it won't work in another 2 months.

Am I missing something?  Does expo-analytics not use the Google Analytics Services SDK?

Thanks!

[2019-08-29 16:01] ryanvanderpol commented on #47
Hey @teckel12, good question.  `expo-analytics` does not use the Google Analytics iOS or Android SDKs.  Actually, what it uses, is the same Google Analytics tools that you'd use on a web site.  So, as far as I'm aware, the sunsetting of those native SDKs shouldn't affect this project.

That said, this project was really meant as a stop-gap measure until a better (native) solution became available

[2019-08-29 18:52] #47 closed

[2019-08-29 18:52] teckel12 commented on #47
Thanks!

[2019-08-29 20:48] wscourge opened #48 "Google Analytics App + Web support"
Is there any way to use this package for [Google Analytics App + Web](https://www.blog.google/products/marketingplatform/analytics/new-way-unify-app-and-website-measurement-google-analytics/)?

As for now, all I can see in docs is initializing like:

[code]

where `'UA-'` part strongly suggests that it's dedicated for Google Analytics Web; the `Tracking ID` equivalent in the App + Web property is

[2019-10-01 12:11] bill-pairaktaridis commented on #14
Wow...This should definitely be in the docs.

[2019-10-02 11:06] StefKors commented on #48
This should be supported and documented in the readme. for example my tracking code used `G-XXXXXXXXXX`

[2019-10-02 11:14] StefKors commented on #48
I've added some readme updates for the time until this issue is resolved.

[2019-10-03 16:01] GitTibbe opened #50 "User agent language (not set)"
The user agent data seems to not send the language as its being seen as (not set) in GA. I tried overriding it with `const analytics = new Analytics(GA_ID, { ul: 'en-us' }, {debug: true});`, but it didn't affect it.

[2019-10-04 19:07] cassio-nuke opened #51 "Campaign Measurement - App installs"
Hi,

Thanks for this lib! It's great.
We have a task for implement campaign measurement within our app.
It'll work like this:
We'll have an ad to our app store or play store app pages with campaign parameters
The user that clicks on this & install the app must be logged into our analytics.
Google tell us to do this: https://developers.google.com/analytics/devguides/collection/ios/v3/campaigns

The

[2019-10-07 09:44] PiotrSzlagura opened #52 "Events not working during app lifetime"
Hello

I have following issue: when I do something like:

[code]
in my `RootComponent.componentDidMount`, event is sent correctly and I can see it in my Analytics console.

But if I do the same after some event in my app, nothing happens. I do get `console.log` with text `event sent` which should indicate successfull send, but I can't see any event in my Analytics console.

Anyone had similar prob

[2019-10-08 18:03] jeremyhicks opened #53 "Google Analytics Sunsetting Analytics SDK"
Hi,

Will the functionality of `expo-analytics` be affected by this [announcement from Google](https://support.google.com/firebase/answer/9167112?hl=en) about the end of GA for App properties and the push to use Firebase?

[2019-10-11 17:16] wscotten commented on #53
Would like to know this as well.

[2019-10-11 17:18] ryanvanderpol commented on #53
There was some discussion about this in #47.  It is my understanding that there will be no impact since we are not using the mobile SDK but using the web APIs.  eg. the way this package works is that it is no different than having Google Analytics embedded on your website.

[2019-10-11 17:22] ryanvanderpol commented on #48
Thanks for the discussion here.  I've never used the new App + Web property type, and don't really have a project to test this with.  If someone wants to play with it and submit a PR I'd happily merge it in!

[2019-10-11 17:37] wscotten commented on #53
Perfect.  Thank you for the response!

[2019-10-12 02:54] greenwombat opened #54 "Unhandled promise rejection: TypeError: _expoConstants.default.getWebiewUserAgentAsync"
Hi there,

I'd love to get using expo-analytics but am having trouble getting started.

I use the following:

    "expo": "^33.0.0",
    "expo-analytics": "^1.0.12",
    "react": "16.8.3",
    "react-dom": "16.8.3",
    "react-native": "https://github.com/expo/react-native/archive/sdk-33.0.0.tar.gz",
    "react-native-web": "^0.11.7"

import { Analytics, PageHit } from "expo-analytics";  // "expo"

[2019-10-12 04:12] coinfielddev commented on #54
getWebiewUserAgentAsync should be: getWebViewUserAgentAsync there is a missing V

[2019-10-12 04:13] bashash commented on #54
getWebiewUserAgentAsync should be: getWebViewUserAgentAsync there is a missing V

[2019-10-12 08:34] greenwombat commented on #54
You're right! It looks like a bug in analytics.js:

![image](https://user-images.githubusercontent.com/7425250/66698157-31694200-ed27-11e9-9127-d5eba3b47528.png)

Manually changing this in node_modules fixes the problem.

[2019-10-12 09:47] greenwombat commented on #54
I've created a pull request with the fix - it'd be great to get it merged:

https://github.com/ryanvanderpol/expo-analytics/pull/55

Thanks,
George

[2019-10-12 12:41] ryanvanderpol commented on #54
🤦🏼‍♂️ Looks like this came over yesterday in #45.  Thanks, @greenwombat for the PR!  I'll get that merged and released asap.

[2019-10-13 13:30] josermorales commented on #47
@ryanvanderpol Just started using expo and find it super useful. Any reason I should stay away from it? (noob here)

[2019-10-15 03:56] teckel12 commented on #47
@josermorales A little off-topic, but I can't send my expo project to the Apple store because Apple removed the ability from Xcode 11. How is anyone making iOS builds with Expo with Xcode 11?

[2019-10-16 00:40] Simacho239 opened #56 "Tracking ID vs Measurement ID"
Hi all,

I'm currently trying to use this package to integrate and test some simple Analytics events.

**Issue**
I'm struggling at the moment though to locate the right Tracking ID (TID) to use within a ScreenHit.  I have a Measurement ID (e.g. G-XXXXXXXXXX) and Property ID (9 digit number) on Google Analytics, but using the debugging tool and checking the resulting link on [this link testing site

[2019-10-19 17:57] kevwang1 opened #57 "Constants.deviceId should be Constants.installationId"
In analytics.js, the client ID is set as Constants.deviceId from Expo. But I don't think that's actually supported by Expo - it should be Constants.installationId. I believe deviceid is currently set to installationId, but it is undocumented. For future stability, deviceId should be changed to installationId.

Where clientId is set: https://github.com/ryanvanderpol/expo-analytics/blob/697565cb87e0

[2019-11-06 04:01] aiham commented on #57
@kevwang1 I use the library like this:

[code]

[2019-11-07 02:05] kalliub commented on #47
@teckel12
I just sent an app to Apple Store and because of this changes I had to download XCode 10 from Apple's website. Application Loader still works on XCode 10 versions.

[2019-11-07 02:09] kalliub commented on #47
@josermorales Some people doesn't like Expo because "it's not native", and they think a little out of control of some things. Well, particularly speaking, I love Expo too! It gives me a lot of features that makes my job lots easier, so no one ever gave me a really decent reason to stay away from it.

[2019-11-11 21:42] #53 closed

[2019-11-12 07:12] giautm opened #58 "Race condition: undefined is not an object (evaluating 'this.parameters[t]=n')"
I ran into this exception because `promiseGetWebViewUserAgentAsync()` take to long to complete and parameters stills `undefined`. (a.k.a: Race condition.)

It can fixed by init parameters with an empty object, then copy into current parameters alter promise resolved.

<img width="782" alt="Screen Shot 2019-11-12 at 2 08 21 PM" src="https://user-images.githubusercontent.com/12751435/68649857-43bce2

[2019-11-13 13:20] FabianOMB opened #60 "Failed requests should fail gracefully"
If I use Sentry with my application it will report an error "Network request failed " if the call to google analytics fails (which of course it will sometimes).

This could be avoided by handling the error that occurs when fetch is called in the send method i.e add a catch to the fetch.

Line 138 in analytics.js could be updated like this:
[code]

[2019-11-13 13:39] FabianOMB commented on #60
Realised that this of course should be handled at a higher level by the code calling analytics.hit.

[2019-11-13 13:39] #60 closed

[2019-11-21 15:03] BillyCottrell opened #61 "Google Analytics Property setup for React Native App in managed expo"
So I am making my Bachelor Thesis around analytics in React Native environment with managed expo by using 3 different analytics (GA, MS App Center Analytics, and this one), and i am wondering how you setup the property in Google Analytics.
When choosing web for the property you need to provide an url which I don't have since it is an app that's running locally.
Can i somehow provide an url that I

[2019-11-21 19:08] ryanvanderpol commented on #61
The URL shouldn't matter.  Generally, I enter the marketing site URL for the product (eg. if I were setting this up for the Strava app, I'd put in strava.com).

[2019-11-22 15:12] BillyCottrell commented on #61
Okay that's good to know, does expo also support integrations with google tag manager or other google products?

[2019-11-28 14:50] BillyCottrell commented on #61
I'll take that as a no i guess.

[2019-11-28 14:50] #61 closed

[2019-11-28 15:15] BillyCottrell opened #62 "Sending events sets pages as not set in google analytics -> events -> pages"
Sending a regular events is not a problem, but when checking the events in google analytics under pages all events are categorized underneath "not set".

The issue occured when having 2 components (Homescreen with a list and item component), the hit is executed in the homescreen but the event is triggered in/by the item component and for some reason when sending it to ga it loses the page info.

I

[2019-12-09 07:39] murshudov commented on #58
Please give a look at [Expo Analytics Google](https://github.com/mediusoft/expo-analytics-google)

[2019-12-09 07:39] murshudov commented on #62
Please give a look at [Expo Analytics Google](https://github.com/mediusoft/expo-analytics-google) with static API

[2019-12-09 07:40] murshudov commented on #57
Please give a look at [Expo Analytics Google](https://github.com/mediusoft/expo-analytics-google)

[2019-12-09 08:09] BillyCottrell commented on #62
Yes but that's a different library as im using this library for my bachelor thesis which is a comparison study of 3 different analytic tools, so i have to use this library.

[2019-12-09 09:12] BillyCottrell commented on #62
I have made changes to the singleton to be able to use this properly. Instead of creating the analytics only once i now create it everytime I use the getAnalytics() method. When I call the method I send the parameters object with it so when sending an event I can send the page information through the param object.

[code]
Example of usage:

[code]

[2019-12-09 09:12] #62 closed

[2019-12-09 12:43] aiham commented on #57
@murshudov You've just copied this project without attribution, and made it worse.

[2019-12-09 13:00] ryanvanderpol commented on #58
@murshudov quit spamming all the issues in here with your rip off copy of our work. You literally copied this library with no attribution.

[2019-12-09 14:48] murshudov commented on #58
@ryanvanderpol , first of all, thanks for a great solution. Regarding attribution, I will for sure update the description. Actually I wanted to make a PR at the beginning, but I wanted a static API (something similar to Sentry API) and with all of the changes I needed it would mean a total rewrite of this library. That's why I created new library based on your code for personal project.

[2019-12-10 10:19] BillyCottrell commented on #58
In that case @murshudov you should have made a fork instead of a straight copy, plus you should have credited @ryanvanderpol as this is his project not yours. Even if there is not a single line of this repository that will be kept afterwards you still have to do this since this repository is the base for your personal project.

[2019-12-10 13:56] murshudov commented on #58
@BillyCottrell, my bad. Previously didn't work with GitHub as SC and honestly, don't know what forking means and what are the different types of licenses. I will read about them and update repo accordingly to reflect the work done by @ryanvanderpol  as soon as I will have free time.

[2019-12-21 11:40] AdamGerthel opened #64 "Single user triggering events as multiple users"
I'm not sure why, but for some reason, I'm getting multiple real time events/pagehits etc. sent in by what seems like a single app installation as if it were multiple users. Is there any obvious reason why this could be happening? It seems like GA is treating all events as different users.

I haven't been able to recreate the problem on my own devices, and I just released the app to a single exter

[2020-01-16 17:18] delanebob commented on #58
@ryanvanderpol @giautm just wondering if there is any update when https://github.com/ryanvanderpol/expo-analytics/pull/59 will be getting merged in to fix this issue?

Seem to have the same issue myself when I try to call `analytics.addParameter('ul', language);` and it's throwing the same error.

[2020-01-16 17:29] ryanvanderpol commented on #58
hey @delanebob, have you tried pulling in the branch from #59 and seeing if it resolves your issue?  I'm not able to reproduce the problem myself, so that PR is really just waiting on objective confirmation that it fixes the issue (and does not cause additional side effects).  If you believe #59 resolves the problem here, please drop a comment on it stating so and I'll get it merged and published.

[2020-01-17 08:39] delanebob commented on #58
Hey @ryanvanderpol, I've just pulled in the branch from #59 now and there doesn't look like there is any side effects. It has also fixed the problem I was getting with the race condition.

I've attached a debug below and it seems like everything is normal.
<img width="1329" alt="Screenshot 2020-01-17 at 08 26 13" src="https://user-images.githubusercontent.com/5358403/72596965-b191db80-3904-11ea-8a

[2020-01-24 01:24] nsdub commented on #48
I'm still unclear on what the guidance here is. For example, our property ID is in the format `123456789`. Is the correct way to initialize like this:
`const analytics = new Analytics('123456789');`

Or like this (with the 'G-' prepended):
`const analytics = new Analytics('G-123456789');`

FWIW neither work for us, but perhaps this is due to the delay in Analytics reporting?

[2020-01-24 18:26] ryanvanderpol commented on #48
@nsdub When you set up your Google Analytics account, did you choose the new "Apps and Web" option?  or just the "web" option?  See [this article](https://www.blog.google/products/marketingplatform/analytics/new-way-unify-app-and-website-measurement-google-analytics/) for an explanation of the difference.

I haven't done it myself, but my guess is choosing the "Apps and Web" option creates the `G-

[2020-01-24 18:29] #58 closed

[2020-01-24 18:29] #54 closed

[2020-01-24 18:31] #37 closed

[2020-01-24 23:50] nsdub commented on #48
@ryanvanderpol We were migrated to the new "App + Web" option via Firebase. I just created a dummy "App", (yes, app only) property and that also has the same property ID format of `123456789`. Our Web property has the `UA-` format. Not sure where the `G-` property ID came from. Perhaps it's legacy.

I should also clarify what I mean by "not working" -- it's purely that the events don't get reporte

[2020-01-25 00:51] nsdub commented on #48
So `UA-` properties work as expected which makes sense because it looks like you built out this package with the [Measurement Protocol](https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide). However it doesn't _seem_ like the "App + Web" type works with this. I can't find any official documentation that explicitly states this, but it's suspect that the devguide isn't u

[2020-01-30 16:52] amahajan87 commented on #56
@ryanvanderpol

+1 on this issue.

I am facing the same issue. I have set up a web-app property on google analytics. I was unable to find the tracking id, instead I have property ID on google analytics.

I am using the following request:

const analytics = new Analytics('G-<9 digit property id>}', null, { debug: true });
analytics.hit(new ScreenHit('Home'))
.then(() => console.log("success"))
.cat

[2020-01-31 00:28] nsdub commented on #48
Since it looks like this thread is dying, I wanted to provide an update to the path that we chose:

Our use-case was that we wanted to log Analytic events so that we could use them in our AdWords campaigns as conversion actions. Our app uses Firebase but the OOTB conversion actions you get with Firebase (like app installs or first opens) weren't useful for the campaign optimizations we wanted to r

[2020-02-07 11:34] habeebtheprogrammer commented on #56
same issue here. :(

[2020-02-25 16:47] AdamGerthel commented on #40
You could use this package instead. Seems the API is identical: https://github.com/ryanvanderpol/react-native-googleanalytics

[2020-02-26 20:47] abhip10 commented on #33
wondering about the progress on this!

[2020-02-26 21:21] ryanvanderpol commented on #33
Hey, thanks for the interest!  There has not been any progress on this task, but if someone is interested in adding it, I'd certainly accept a PR!

[2020-03-10 08:09] arnaud-cortisse commented on #56
I was able to find it here:
![image](https://user-images.githubusercontent.com/28689103/76292050-b775be80-62ae-11ea-944a-e3a23ee2990c.png)

In Google Analytics: Admin / Account User Management / Tracking Info / Tracking Code

[2020-04-18 15:22] gpessa commented on #50
Any solution for this one? I have the same

[2020-04-27 02:58] lobobabysaurus commented on #48
Looks like App + Web requires the V2 version of the Measurement Protocol to be used.  Looks hard to find google documentation, but found a little guide here -
https://www.thyngster.com/technical-overview-of-new-appweb-properties/

Would folks be against me trying trying to dynamically change the version of the api used based on id?

[2020-04-27 12:15] lobobabysaurus commented on #48
Also a link to a question posed directly to Google Analytics about proper v2 docs https://support.google.com/analytics/thread/17485766?hl=en

[2020-04-27 13:16] ryanvanderpol commented on #48
Thanks for the research, @lobobabysaurus.  I don't currently have an active project that I can switch to the App + Web protocol, but I'd happily review and merge in a PR if we can agree on a good way to support it without breaking existing users.

[2020-04-27 13:28] lobobabysaurus commented on #48
How about a new member for the options constructor arg that drives the version that can fall back to 1 if it isnt being specified? That way it is backward compatible and Web + App consumers just need to explicitly opt it

[2020-04-27 13:50] ryanvanderpol commented on #48
@lobobabysaurus that sounds good enough for me!

[2020-04-30 15:04] lobobabysaurus commented on #48
Looks like Web + App is intrinsically tied to event streams in Firebase, which is partially why the HTTP endpoints don't work the same way.  Not sure how to resolve without pulling in native Firebase rigging

[2020-05-18 14:49] btk commented on #40
@ryanvanderpol this is valid issue;
- create expo project
- add expo-anaylitics
- eject

The manifest comes as empty, maybe we can check if manifest is empty at `analytics.js` and ask user to pass the data used from manifest, (name, slug, version) via `additionalParameters`, and fallback to it.

We can put a warning in the console everytime screenhit or hit is called. What do you think? i can send

[2020-07-01 16:00] linaia commented on #40
Hi, any updates on this ? using this package for expo only and another one for ejected (bare react-native) is the only solution ?

[2020-07-01 16:16] ryanvanderpol commented on #40
Happy to accept a PR on this one! I've abandoned Expo and have just been using bare RN for all my recent projects so I haven't had a good opportunity to reproduce this one.

[2020-07-09 12:05] BillyCottrell commented on #56
@Simacho239 @amahajan87 @habeebtheprogrammer pls read the following text in the readme file at: [Support for web + app projects](https://github.com/ryanvanderpol/expo-analytics#support-for-web--app-projects).

This text states that expo analytics only works when setting Google Analytics up for website and not for mobile since mobile will provide an id that starts with "G" and is not supported. Als

[2020-07-10 22:14] #57 closed

[2020-07-10 22:18] ryanvanderpol commented on #57
This change is now live in `1.0.16`

[2020-07-10 22:29] AlexKvazos commented on #33
I've been looking into this and id'd be happy to work on it.

Looks like we can use [expo-network](https://docs.expo.io/versions/latest/sdk/network/) to get the device's network state. We can check the state whenever `send(hit)` executes and pass items to a queue when the device isn't online.

After every successful `send(hit)` we can pop the next item in the queue and try the other events aswell.

[2020-07-13 17:03] vittau opened #71 "Title and Page Name are reversed"
Hi,

Did I understand something wrong here, or are `dp` and `dt` reversed?

https://github.com/ryanvanderpol/expo-analytics/blob/4e1060df944250b0b6f2bc98269d7bf0abd9202b/hits.js#L43

Also, I have submitted pull request https://github.com/ryanvanderpol/expo-analytics/pull/69 to fix the typescript declaration.

[2020-07-15 23:57] ryanvanderpol commented on #33
Hey @AlexKvazos! I think that's a fine solution. I'm not sure there's a good solution for the timestamp (I don't think there's a way to send that as part of the payload, is there?)

Feel free to submit a PR for this!

[2020-07-16 00:30] AlexKvazos commented on #33
Doesn't look like a valid variable unfortunately. https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters

I'll work on it anyways. I'll try to get a PR before the weekend.

[2020-10-22 13:06] calendarbudget commented on #48
With the announcement of Google Analytics 4 (new name for App + Web), is there any update on this?
https://support.google.com/analytics/answer/10089681?hl=en-GB

[2020-12-12 22:36] butri71 opened #74 "SDK 39 and new GA supported?"
I've been using this library without problems in my previous project but looks like it no longer works with the new GA setting.

Google Analytics are using Firebase settings since October and no longer producing UA codes but rather G-

Is this library still compatible with G codes?
Are you guys still supporting breaking changes?

Thanks

[2021-01-18 20:57] pioner92 commented on #41
Thank you !!!!!!!!!! 👍

[2021-04-28 13:03] PiyushOnline commented on #56
@Simacho239  FYI

GA4 property has Measurement ID only
GA3 property has tracking ID only

You can not have both! If you see one you'll not find the other in same property.

[2021-06-14 15:57] seba9999 commented on #28
Hello, this, for sur, had been a long time since you posted ... But I can't find anything on how to get device resolution on GA ...

For now I'm only having the ``(not set)`` value 😢

Any advice would be wonderfull ! 🤔

[2021-09-20 20:01] CodySwannGT opened #76 "Referrals aren't working"
In our Google Analytics admin, all traffic is showing as direct traffic. Is this expected behavior and is there a workaround?

[2021-10-22 05:36] dex-labs opened #77 "Not compatible with Expo SDK 43"
expo-constants@5.0.1 is not compatible with SDK 43 due to unimodules update.

Updating expo-constants version seems to resolves the issue but haven't really tested fully.

[2021-11-15 16:14] red-made commented on #77
To solve do the following:
- go to ../node_modules/expo-analytics/node_modules/expo-constants/build/ExponentConstants.js
- go to ../node_modules/expo-analytics/node_modules/expo-constants/build/ExponentConstants.js.map
- on import find and replace '@unimodules/core' with 'expo-modules-core';

Bye!

[2021-11-23 18:38] TiKevin83 commented on #77
fixed by #78

[2021-11-25 15:10] tomelsner opened #79 "Constants.installationId has been deprecated"
Getting this message when calling the constructor in an expo 43 project. Is there a plan to address this and implement the generation of an installationId with one of the suggested methods here: https://forums.expo.dev/t/constants-installationid-how-to-implement-it-on-your-own/50003 ?

[2021-12-23 10:01] mariomurrent-softwaresolutions opened #81 "Not compatible with Expo SDK44"
It is not compatible anymore with Expo SDK44.
Getting the following error:

`TypeError: null is not an object (evaluating '_expoConstants.default.manifest.name')`

It was working before with Expo SDK43

[2022-01-06 17:27] gregdburns commented on #79
Seconding this.

There are two warnings from Expo, so perhaps both can be considered.

1. Constants.installationId has been deprecated in favor of generating and storing your own ID. Implement it using expo-application's androidId on Android and a storage API such as expo-secure-store on iOS and localStorage on the web. This API will be removed in SDK 44.
2. Constants.platform.ios.model has been d

[2022-02-06 22:24] watadarkstar commented on #79
I'm also getting this warning. Any plans to address this @ryanvanderpol or are you open to contributions? I might be able to take this on or find someone who is willing to.

Started to see this warning after I upgraded Expo to SDK 44 and installed this library for our open source meditation app:
https://github.com/heylinda/heylinda-app/pull/140

We have an issue tracking this here in our app:
http

[2022-02-07 08:11] ryanvanderpol commented on #79
Contributions are always welcomed!

[2022-02-07 09:58] tomelsner commented on #79
@ryanvanderpol could you merge one of the pull requests that fixes the issue with SDK 44?

[2022-03-18 12:46] john-landgrave commented on #48
Just pinging for an update on @calendarbudget's comment above? Is there support for GA 4 ids now?

[2022-04-09 11:31] MarcHbb opened #84 "Error on import { Analytics, PageHit } from 'expo-analytics';"
I installed the node module, and did just a simple import but I always getting this error :

`TypeError: undefined is not an object (evaluating '_expoModulesCore.NativeModulesProxy.ExponentConstants')
at node_modules/react-native/Libraries/Core/ExceptionsManager.js:104:6 in reportException
at node_modules/react-native/Libraries/Core/ExceptionsManager.js:171:19 in handleException
at node_modules/re

[2022-04-28 06:24] eliransu commented on #84
same here

[2022-05-14 04:30] minusthebear02 commented on #79
@ryanvanderpol , any news on this? looks like there are some PR's opened to solve these deprecation issues

[2022-05-19 04:28] xicond opened #85 "EAS build fails: Execution failed for task ':expo-constants:compileReleaseKotlin'"
### Summary

I have sdk 42, node: 12.22.11
Success on classic build of `expo build` but fail in eas build as `expo build` will be discontinue in January 4, 2023

[code]

Running `eas build` fails with the below logs in the "Run gradle" step

[code]

### Managed or bare workflow? If you have `ios/` or `android/` directories in your project, the answer is bare!

managed

### What platform(s) does th

[2022-05-26 16:47] bcarradini commented on #79
I found a publicly available package that was forked from this repo and that claims to be compatible with Expo SDK 44.

The repo: https://github.com/meecodebymariomurrent/expo-analytics
The changes: https://github.com/ryanvanderpol/expo-analytics/compare/master...meecodebymariomurrent:master
The package: https://www.npmjs.com/package/@meecode/expo-analytics

I'm going to give it a try, but still h

[2022-07-01 18:32] danielyaa5 commented on #48
+1

[2022-07-07 20:59] flash29 commented on #84
Running into the same problem

Did you find a solution or a work around for this ?

let me know if you have a solution.

[2022-07-12 04:47] theamanjs commented on #48
Looking forward to GA4 support in the package. Is there any idea when it will be out?

[2022-08-10 10:37] djaenike commented on #48
Still lurking this thread - any updates? I believe GA4 is replacing UA eventually so it seems pretty important this gets resolved.

[2022-08-26 01:07] #23 closed

[2022-09-14 19:08] marcus-chr commented on #81
Getting same error. No update regarding this issue? Using Expo SDK 45.

[2022-09-15 06:33] mariomurrent-softwaresolutions commented on #81
Im currently using my fork

https://github.com/meecodebymariomurrent/expo-analytics

With the newest expo SDK